@using WebApplicationProject.Utility;
@model List<Book>

@if (TempData["basarili"] != null)
{
    <h2 style="color:brown; font-size: 15px;">@TempData["basarili"]</h2>
}

    <div class="container">
        <div class="row pt-3 pb-4">
            <div>
            <h1>Kitaplar</h1>
            </div>

        </div>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                    </th>

                    <th>
                        Id
                     </th>
                     <th>
                         BookName
                     </th>
                     <th>
                         Explain
                     </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            BookType
                        </th>
                         @if (User.IsInRole(UserRoles.Role_Admin))
                        {
                             <th>
                             </th>
                             <th>
                             </th>
                        }
                </tr>
            </thead>

            <tbody>
                @foreach(var book in Model)
                {    
                    <tr>
                        <td>
                            <td align="center" valign="middle">
                        <img src="@book.ImageUrl" style="border-radius: 7px; border: 1px solid ##bbb9b9; max-width:145px; max-height: 275px; "/>
                             
                            </td>
                        </td>
                        <td align="center" valign="middle">@book.Id</td>
                        <td align="center" valign="middle">@book.BookName</td>
                        <td align="center" valign="middle">@book.Explain</td>
                        <td align="center" valign="middle">@book.Author</td>
                        <td align="center" valign="middle">@book.Price</td>
                        <td align="center" valign="middle">@book.BookType.Name</td>

                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td align="center" valign="middle">
                            <a asp-controller="Book" asp-action="AddUpdate" asp-route-id="@book.Id" type="button" class="btn btn-outline-success" style="width:250px">Güncelle</a>
                        </td>
                        <td align="center" valign="middle">
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" type="button" class="btn btn-danger" style="width:250px">Sil</a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>

    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        
    

        <div class = "row pt-3 pb-2">
            <div>
            <a asp-controller="Book" asp-action="AddUpdate" class="btn btn-lg btn-primary" type="button">
                    Yeni Kitap Oluştur
                </a>
            </div>
        </div>
    }
</div>